<h2><%=title%></h2>
<form action="/users/create-session" method="POST" >
    <input type="email" placeholder="Your email" name="email" required><br><br>
    <input type="password" placeholder="Password" name="password" required><br><br>
    <button type="submit">Sign In</button><br><br>
</form>