<h2><%=title%></h2>
<form action="/users/create-session" method="POST" >
    <input type="email" placeholder="Your email" name="userMail" required><br><br>
    <input type="password" placeholder="Password" name="userPassword" required><br><br>
    <button type="button">Sign In</button><br><br>
</form>