<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <h1><%=title%></h1>
        <form method="POST">
            <label>Name : </label><input type="name" name="userName"><br>
            <label>Mail : </label> <input type="email" name="userMail"><br>
            <label>Password : </label><input type="password" name="userPassword"><br>
            <button type="button">Sign Up</button>
        </form>
    </body>
</html>